@model PRSweb.Models.PurchaseRequest

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PurchaseRequest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Justification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Justification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateNeeded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateNeeded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryMode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryMode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubmittedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubmittedDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
